<nav class="navbar navbar-expand-lg bg-success shadow">
    <div class="container-fluid">
        <i class="bi bi-film text-dark"></i>
        <a class="navbar-brand text-dark m-lg-2" href="#">Agenda Tu Cita</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            
        </button>
        
        <div class="collapse navbar-collapse  justify-content-end m-2" id="navbarSupportedContent">
            <app-search-bar (searchText)="searchAction($event)"></app-search-bar>

        </div>
    </div>
</nav>

